BOT_TOKEN=
ADMIN_ID=
INTERVAL=1 // in minutes
DEFTECH_URL="https://deftech.dou.ua/jobs/?city=%D0%9A%D0%B8%D1%97%D0%B2" # http://deftech.dou.ua/jobs/?city=Київ
DB_NAME="./deftech-tgbot.db"
LIMIT=50 #max vacancies to display in saved lists (20-200)

# Raspberry Pi connection details
PI_HOST=
PI_USER=
PI_KEY=
PI_ROOT_PATH=
PI_LOG_FILE="deftech-tgbot.log"
PI_BINARY="deftech-tgbot-rpi"